<section>
    <mat-card class="card mat-elevation-z8">
        <mat-card-title>Atualizar Gastos</mat-card-title>
        <form>
            <mat-form-field>
                <input matInput placeholder="Título" [(ngModel)]="outlay.title" name="title">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Custo (R$)" [(ngModel)]="outlay.cost" name="cost" type="number">
            </mat-form-field>
        </form>

        <button mat-raised-button (click)="update()" [disabled]="isDisabled" color="primary">
            Salvar
        </button>

        <button mat-raised-button (click)="cancel()" [disabled]="isDisabled" class="cancel">
            Cancelar
        </button>

    </mat-card>

</section>